.navBar {
	background-color: black;
	display: flex;
	padding: 20px;
  overflow: hidden;
}
.menu-items{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  list-style-type: none !important;
  /* margin: 0; */
  /* padding: 0; */
  overflow: hidden;
  background-color: black;
  display: flex;
}
.current {
  color: #48cae4;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h1{
  color: white;
}